<!DOCTYPE html>
<title>Cerberus</title>

<div>
    <p><strong>User ID: {{userID}}</strong>   Save the user ID in case you want to access your data later again</p>
</div>

<div hx-get="{{userID}}/account/edit" hx-trigger="load" hx-swap="outerHTML">
</div>

<br /><br />
<button hx-get="/{{userID}}/model/calc" hx-trigger="click" hx-target="#modelResults">Calc Stuff</button>

<div id="modelResults"></div>

<br><br>
DATA RECEIVED:
<br>
{{accName}}
<br>
{{accType}}
<br>
{{otherAccs}}
<br>
{{loginMethod}}
<br>
{{backupMethod}}

<br /><br />

<img src="static/{{userID}}.png" />

<script src="https://unpkg.com/htmx.org@1.9.3"></script>