<!DOCTYPE html>
<title>Cerberus</title>

<div hx-get="/account/edit" hx-trigger="load" hx-swap="outerHTML">
</div>

<!-- <form action="/api/account" method="post">
    <label for="accName">Account of which service?</label><br>
    <input type="text" id="an" name="accName" value="" placeholder="(Reddit, Gmx, etc.)"><br><br>

    <label for="accType">What type of Account?</label><br>
    <input type="text" id="at" name="accType" value="" placeholder="(Email, Social Media, etc.)"><br><br>

    <label for="otherAccs">Other Accs connected?</label><br>
    <input type="text" id="oa" name="otherAccs" value="" placeholder="GMX, Hotmail, Facebook, ..."><br><br>

    <label for="loginMethod">What's the main way of logging in?</label><br>
    <input type="text" id="lm" name="loginMethod" value="" placeholder="(Password, Pin, SSO)"><br><br>

    <label for="backupMethod">What's the backup method?</label><br>
    <input type="text" id="bm" name="backupMethod" value="" placeholder="(Email, SMS, Question, ...)"><br><br><br>


    <label for="account">Account type:</label>
    <input type="text" id="an" name="accName" value="" placeholder="(Reddit, Gmx, etc.)"><br><br>

    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select><br /><br />

    <input type="submit" value="Send Data">
</form> -->

<br><br>
DATA RECEIVED:
<br>
{{accName}}
<br>
{{accType}}
<br>
{{otherAccs}}
<br>
{{loginMethod}}
<br>
{{backupMethod}}

<script src="https://unpkg.com/htmx.org@1.9.3"></script>